@font-face {
  font-family: "Pokemon-GB";
  src:url('./assets/fonts/Pokemon-GB.ttf');
}

.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
}

.poke-info {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pokemon-pokedex {
  height: 300px;
  width: 400px;
}

.pokemon-header {
  width: 100%;

  display: flex;
  font-family: "Pokemon-GB";
}

.pokemon-border {
  background: url(./assets/pokemon-border.png);
  background-size: cover;
  height: 100%;
  width: 100%;
  image-rendering: pixelated;
  background-position: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.poke-num {
  font-size: 10px;
}

.poke-name {
  text-transform: uppercase;
}

.poke-name,
.poke-height,
.poke-weight {
  text-align: left;
}
.pokemon-content {
  background:rgba(156,189,15,.9);
  background-clip: content-box;
  padding: 8.75% 18.5%;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  display: flex;
}

.pokeImg {
  image-rendering: pixelated;
}

.typing-content {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.abilities {
  border: 2px dotted purple;
  display: flex;
  flex-direction: column;
  align-items: center;}

.abilities > ol > li {
  text-align: left;
}

.moves {
  background: #fafafa;
  border: 1px solid #eeeeee;
}

.stats {
  background: lightcyan;
  border: 1px solid cyan;
}

.stats > ul > li {
  text-align: left;
  list-style: none;
}

.search-component {
  border: 1px solid goldenrod;
  padding: 5%;
  background: lightgoldenrodyellow;
}

/* Responsive Design Starts Here */

/* Mobile Styles */
@media only screen and (max-width: 450px) {
  body {
    background-color: lightskyblue;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 451px) and (max-width: 960px){
  body {
    background: yellow;
  }

  .typing, 
  .abilities,
  .moves, 
  .stats {
    width: 47.5%;
  }

  .poke-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background: #fafafa;
  }
  
  .typing,
  .abilities, 
  .stats {
    width: 33.2%;
  }

  .moves {
    order: 10;
  }
}