@font-face {
  font-family: "Pokemon-GB";
  src:url('./assets/fonts/Pokemon-GB.ttf');
}

@font-face {
  font-family: "Roboto";
  src:url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: "Open Sans";
  src:url('./assets/fonts/OpenSans-Regular.ttf');
}

.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: white;
}

.header, .footer {
  color: white;
  width: 100%;
  background:linear-gradient(to top, rgba(84,205,212,.65) 30%, rgba(0,0,0,0) 100%, rgba(0, 0, 0, 0));
}

.header {
  background:linear-gradient(to top, rgba(84,205,212,.65) 30%, rgba(0,0,0,0) 100%, rgba(0, 0, 0, 0));
}

.footer {
  font-family: "Roboto";
  font-size: 14px;

}

.footer:nth-last-child() {
  text-transform: uppercase;
  font-size: 10px;
  font-family: "Open Sans"
}

.header-background {
  padding: 20px;
}

.header-background > h1 {
  font-family: "Roboto";
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
}

.main {
  width: 100%;
}

.search-div {
  background: white;
  border: 1px solid #DBDBDB !important;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin: 5%;
}

.poke-form {
    font-size: 19px !important;
    line-height: 24px !important;
    letter-spacing: undefined !important;
    padding: 11px!important;
    color: #484848 !important;
    background-color: white !important;
    border: none!important;
    border-radius: 3px;
    width: calc(100% - 23px) !important;
    font-weight: normal !important;
    text-overflow: ellipsis !important;
}

.poke-form:focus{
  outline: none!important;
}

.poke-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pokemon-pokedex {
height: 600px;
width: 800px;
}

.pokemon-header {
  display: flex;
  font-family: "Pokemon-GB";
}

.pokemon-border {
  background: url(./assets/pokemon-border.png);
  background-size: cover;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  image-rendering: pixelated;
  background-position: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.poke-num {
  font-size: 20px;
  margin: 10%;
}

.poke-name {
  text-transform: uppercase;
}


.poke-vitals {
  margin: 5% 3%;
}
.poke-name,
.poke-height,
.poke-weight {
  text-align: left;
  font-size: 25px;
}
.pokemon-content {
  background:rgba(156,189,15,.9);
  background-clip: content-box;
  padding: 9.2% 18.7%;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  display: flex;
}

.pokeImg {
  image-rendering: pixelated;
  height: 45%;
}

.typing-content {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.abilities {
  display: flex;
  flex-direction: column;
  align-items: center;}

.abilities > ol > li {
  text-align: left;
}

.moves {
  background: #fafafa;
}

.stats {
  background: lightcyan;
  border: 1px solid cyan;
}

.stats > h2 {
  font-family: "Roboto";
  text-transform: uppercase;
  letter-spacing: 3px;
}

.stats > ul > li {
  text-align: left;
  list-style: none;
  font-family:"Open Sans";
  text-transform: uppercase;
  letter-spacing: 1px;
}

.search-component {
  border: 1px solid goldenrod;
  padding: 5% 0;
  background: white;
}

/* Responsive Design Starts Here */

/* Mobile Styles */
@media only screen and (max-width: 450px) {
  body {
    background-color: lightskyblue;
  }

  .pokemon-pokedex {
  height: 300px;
  width: -webkit-fill-available;
}

  .poke-name,
  .poke-height,
  .poke-weight {
    text-align: left;
    font-size: inherit;
  }

  .poke-num {
    font-size: small;
  }

  .pokemon-content {
    padding: 8% 18.7%;
  }

  .typing-content > h2, .abilities > h2 {
    font-size: small;
  }

  .abilities > ol > li, .poke-error {
    font-size: xx-small;
  }

}

/* Tablet Styles */
@media only screen and (min-width: 451px) and (max-width: 960px){
  body {
    background: yellow;
  }

  .typing, 
  .abilities,
  .moves, 
  .stats {
    width: 47.5%;
  }

  .poke-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background: #fafafa;
  }

  .main {
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .search-component {
    width: 800px;
  }

 .poke-vitals {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
 }

 .abilities > ol {
   margin-left: 50px;
 }
  .moves {
    order: 10;
  }
}