.all-types {
    padding: 5%;
    border-radius: 3px;
    margin: 3%;
    color: #fafafa;
    font-family: "Pokemon-GB";
    font-size: 12px;
    width: 95px;
    color: white;
    text-shadow:
        1px 1px 1px #7F7871;
    text-transform: uppercase;
    box-shadow: 
        1px 1px 1px #7F7871;
}

.electric-type {
    background: gold;
}

.flying-type {
    background: #A492EA;
}

.fairy-type {
    background: pink;
}

.water-type {
    background: #6F90E9;
}

.grass-type {
    background: #89C560;
}

.fire-type {
    background: orange;
}

.dark-type {
    background: #6D594A;
}

.normal-type {
    background: lightgray;
}

.poison-type {
    background: #95479B;
}

.ghost-type {
    background: #6C5A94;
}

.bug-type {
    background:#AAB742;
}

.steel-type {
    background: #B8B8CE;
}

.ground-type {
    background:#C4AF73;
}

.dragon-type {
    background:#6840EF;
}

.fighting-type {
    background:#B23C31;
}

.ice-type {
    background:#A4D6D7;
}

.rock-type {
    background:#B49F4A;
}

.psychic-type {
    background:#E76488;
}