.all-types {
    padding: 5%;
    border-radius: 8px;
    border: 1px solid #eeeeee;
    margin: 3%;
    width: 75px;
    color: #fafafa;
    font-family: "Pokemon-GB"
}

.electric-type {
    background: gold;
}

.flying-type {
    background: brown;
}

.fairy-type {
    background: pink;
}

.water-type {
    background: blue;
}

.grass-type {
    background: green;
}

.fire-type {
    background: orange;
}

.dark-type {
    background: #757575;
}

.normal-type {
    background: lightgray;
}

.poison-type {
    background: #95479B;
}

.ghost-type {
    background: #6C5A94;
}